HOST=127.0.0.1
PORT=8787
STRIPE_SECRET_KEY=sk_live_REPLACE_ME
STRIPE_PAYMENT_LINK_URL=https://buy.stripe.com/REPLACE_ME
STRIPE_PAYMENT_LINK_ID=plink_REPLACE_ME
DOWNLOAD_TOKEN_SECRET=REPLACE_WITH_AT_LEAST_32_RANDOM_BYTES
